<%= form_for @story do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Name Your Story' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Describe Your Story'  %>
  </div>

  <div class="buttons">
    <%= button_to 'Cancel', stories_path, method: 'get', class: 'form-control cancel' %>
    <% if @story.id.nil? %>
      <%= f.submit 'Create Story', class: 'form-control submit' %>
    <% else %>
      <%= f.submit 'Update Story', class: 'form-control submit' %>
    <% end %>
  </div>
<% end %>
