<div class="page-title">
  <h2><%= @story.name %></h2>
</div>

<div class='story-main'>
  <div class="story-info">
    <p><%= @story.description %></p>
    <div class="story-show-buttons">
      <% if current_user == @story.user %>
        <div class="buttons">
          <%= button_to 'Edit', edit_story_path(@story), method: 'get', class: 'form-control edit card-button' %>
          <%= button_to 'Delete', story_path(@story), method: 'delete', class: 'form-control delete card-button'%>
        </div>
      <% end %>
    </div>
  </div>

  <%= react_component 'StoryBoard', {story_id: @story.id, user_id: @current_user.id} %>
</div>
